.btn {
    padding: .5rem;
    width: 100%;
    @include flex-center;
    font-weight: 600;
    text-decoration: none;

    &--small {
        background: none;
        width: 10rem;
        height: 3rem;
        font-size: 1rem;
        border-radius: 50px;
        text-transform: capitalize;
        border: 2px solid $primary-color-pink;
        color: $primary-color-pink;
        cursor: pointer;

        @include responsive(phone) {
            height: 3.2rem;
            width: 12rem;
            font-size: 1.2rem;
        }
        
    }

    &--big {
        border: none;
        margin: 0 auto;
        // margin-top: 2rem;
        // margin-bottom: 5rem;
        width: 30%;
        height: 3.5rem;
        color: $neutral-color-pale-blue;
        background: $primary-color-pink;
        box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        text-transform: capitalize;
        font-size: 1.2rem;
        cursor: pointer;

        @include responsive(phone) {
            width: 50%;
        }
    }

    &__footer {
        border: 2px solid red;
        text-decoration: none;
        width: 25%;
        height: 2rem;
        @include border-style;
        background: $primary-color-pink;
        color: $neutral-color-pale-blue;
        cursor: pointer;

        @include responsive(phone) {
            float: right;
            height: 3rem;
            width: 40%;
        }
    }
    
}

