// PRIMARY COLORS
$primary-color-pink: #ff52bf;
$primary-color-light-pink: #ff8fd8;
$primary-color-light-red: #ff4242;

// NEUTRAL COLORS
$neutral-color-dark-cyan: #00252e;
$neutral-color-pale-blue: #f5faff;

// SECONDARY COLORS
$color-secondary-red: #ff0000;
$color-secondary-green: #55c57a;